[run]
source = .
omit =
    tests/*
    legacy/*
    docs/*
    scripts/*
    helm/*
    .github/*
    setup.py
    conftest.py
    */migrations/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__
    raise NotImplementedError
    pass
    except ImportError
show_missing = true
precision = 2
fail_under = 0
